<h2>
  DP Spent: {{actor.system.abilities.primary.totalDPSpent}} Remaining: {{actor.system.developmentPoints.remaining}}
</h2>
<div class="primaries-grid">
  <div class="secondary-header">{{> "systems/abf-system/templates/actors/partials/nav/abilities/primary/combat.hbs" }}</div>
  <div class="secondary-header">{{> "systems/abf-system/templates/actors/partials/nav/abilities/primary/supernatural.hbs" }}</div>
  <div class="secondary-header">{{> "systems/abf-system/templates/actors/partials/nav/abilities/primary/psychic.hbs" }}</div>
</div>