<div class="character-grid">
  <!-- LEFT COLUMN -->
  <div class="character-left">

    <!-- CLASS SECTION -->
    <section class="lft-block">
      {{> "systems/abf-system/templates/actors/partials/nav/main/character/classes.hbs"}}
    </section>

    <!-- EXPERIENCE SECTION -->
    <section class="lft-block">
      {{> "systems/abf-system/templates/actors/partials/nav/main/character/experience.hbs"}}
    </section>

    <!-- PRESENCE -->
    <div class="lft-block">
      {{> "systems/abf-system/templates/actors/partials/nav/main/character/presence.hbs"}}
    </div>

    <!-- DESTINY POINTS -->
    <div class="lft-block">
      {{> "systems/abf-system/templates/actors/partials/nav/main/character/dp.hbs"}}
    </div>

    <!-- ASPECT -->
    <section class="lft-block">
      {{> "systems/abf-system/templates/actors/partials/nav/main/character/aspects.hbs"}}
    </section>
  </div>

  <!-- RIGHT COLUMN -->
  <div class="character-right">
    <section class="lft-block">
      {{> "systems/abf-system/templates/actors/partials/nav/main/character/background.hbs"}}
    </section>
  </div>

</div>