<div class="character-grid">
  <!-- LEFT COLUMN -->
  <div class="character-left">

    <!-- CLASS SECTION -->
    <section class="lft-block">
      {{> "systems/abf-system/templates/actors/partials/nav/main/character/classes.hbs"}}
      {{#unless actor.system.settings.isNPC}}
        {{> "systems/abf-system/templates/actors/partials/nav/main/character/experience.hbs"}}
      {{/unless}}
      {{> "systems/abf-system/templates/actors/partials/nav/main/character/presence.hbs"}}

      {{#unless actor.system.settings.ignoreDPLimit}}
        {{> "systems/abf-system/templates/actors/partials/nav/main/character/dp.hbs"}}
      {{/unless}}
      {{> "systems/abf-system/templates/actors/partials/nav/main/character/aspects.hbs"}}
    </section>
  </div>

  <!-- RIGHT COLUMN -->
  <div class="character-right">
    <section class="lft-block">
      {{> "systems/abf-system/templates/actors/partials/nav/main/character/background.hbs"}}
    </section>
  </div>

</div>