<div class="details-grid">
  <!-- LEFT COLUMN -->
  <div class="details-left">
    {{> "systems/abf-system/templates/actors/partials/nav/main/details/advantages.hbs"}}
    {{> "systems/abf-system/templates/actors/partials/nav/main/details/disadvantages.hbs"}}
    {{> "systems/abf-system/templates/actors/partials/nav/main/details/elan.hbs"}}
    {{> "systems/abf-system/templates/actors/partials/nav/main/details/languages.hbs"}}
    {{> "systems/abf-system/templates/actors/partials/nav/main/details/titles.hbs"}}
  </div>

  <!-- RIGHT COLUMN -->
  <div class="details-right">
    <p style="color: white;">Right</p>
  </div>

</div>