<div class="inventory-grid">
  <!-- LEFT COLUMN -->
  <div class="inventory-left">
    <p style="color: white;">LEFT</p>
  </div>

  <!-- RIGHT COLUMN -->
  <div class="inventory-right">
    <p style="color: white;">RIGHT</p>
  </div>

</div>