<h2>
  DP Spent: {{actor.system.developmentPoints.remaining}}
</h2>
<div>
  <div class="secondaries-header">{{> "systems/abf-system/templates/actors/partials/nav/abilities/npc/npc-abilities.hbs" }}</div>
</div>