<h2>DP Spent: {{actor.system.abilities.Secondaries.totalDPSpent}} Remaining: {{actor.system.developmentPoints.remaining}}</h2>
<div class="secondaries-grid">
  <div class="secondary-header">{{> "systems/abf-system/templates/actors/partials/nav/abilities/secondaries/athletics.hbs" }}</div>
  <div class="secondary-header">{{> "systems/abf-system/templates/actors/partials/nav/abilities/secondaries/intellectual.hbs" }}</div>
  <div class="secondary-header">{{> "systems/abf-system/templates/actors/partials/nav/abilities/secondaries/subterfuge.hbs" }}</div>
  <div class="secondary-header">{{> "systems/abf-system/templates/actors/partials/nav/abilities/secondaries/creative.hbs" }}</div>
  <div class="secondary-header">{{> "systems/abf-system/templates/actors/partials/nav/abilities/secondaries/vigor.hbs" }}</div>
  <div class="secondary-header">{{> "systems/abf-system/templates/actors/partials/nav/abilities/secondaries/perception.hbs" }}</div>
  <div class="secondary-header">{{> "systems/abf-system/templates/actors/partials/nav/abilities/secondaries/social.hbs" }}</div>
</div>