<h3>Experience</h3>

<div class="xp-bar">
  <div
    class="xp-fill"
    style="width: {{percent system.xp.current system.xp.next}}%;"
  >
  </div>
</div>

<table class="lft-table">
  <tr>
    <td>
      <input type="number" name="system.xp.current" value="{{system.xp.current}}" data-tooltip="Current Exeperiencs Points." />
    </td>
    <td data-tooltip="Exeperiencs Points needed for next level.">
      {{system.xp.next}}
    </td>
  </tr>
</table>