<h2>DP Spent: {{actor.system.abilities.secondary.totalDPSpent}} Remaining: {{actor.system.developmentPoints.remaining}}</h2>
<div class="secondaries-grid">
  <div class="secondaries-header">{{> "systems/abf-system/templates/actors/partials/nav/abilities/secondary/athletics.hbs" }}</div>
  <div class="secondaries-header">{{> "systems/abf-system/templates/actors/partials/nav/abilities/secondary/subterfuge.hbs" }}</div>
  <div class="secondaries-header">{{> "systems/abf-system/templates/actors/partials/nav/abilities/secondary/intellectual.hbs" }}</div>
  <div class="secondaries-header">{{> "systems/abf-system/templates/actors/partials/nav/abilities/secondary/creative.hbs" }}</div>
  <div class="secondaries-header">{{> "systems/abf-system/templates/actors/partials/nav/abilities/secondary/social.hbs" }}</div>
  <div class="secondaries-header">{{> "systems/abf-system/templates/actors/partials/nav/abilities/secondary/vigor.hbs" }}</div>
  <div class="secondaries-header">{{> "systems/abf-system/templates/actors/partials/nav/abilities/secondary/perception.hbs" }}</div>
</div>