<section class="final-armor-section">
  <h3>Currency</h3>

  <table class="final-armor-table">
    <tr>
      <td>Copper</td>
      <td>Silver</td>
      <td>Gold</td>
    </tr>

    <tr>
      <td>
        <input
          class="input-expand"
          type="number"
          min="1"
          name="system.currency.copper"
          value="{{system.currency.copper}}"
        />
      </td>
      <td>
        <input
          class="input-expand"
          type="number"
          min="1"
          name="system.currency.silver"
          value="{{system.currency.silver}}"
        />
      </td>
      <td>
        <input
          class="input-expand"
          type="number"
          min="1"
          name="system.currency.gold"
          value="{{system.currency.gold}}"
        />
      </td>
    </tr>
  </table>
</section>