<div class="secondaries-grid">
  <div class="secondary-header">{{> "systems/abf-system/templates/actors/partials/nav/main/secondaries/athletics.hbs" }}</div>
  <div class="secondary-header">{{> "systems/abf-system/templates/actors/partials/nav/main/secondaries/intellectual.hbs" }}</div>
  <div class="secondary-header">{{> "systems/abf-system/templates/actors/partials/nav/main/secondaries/subterfuge.hbs" }}</div>
  <div class="secondary-header">{{> "systems/abf-system/templates/actors/partials/nav/main/secondaries/creative.hbs" }}</div>
  <div class="secondary-header">{{> "systems/abf-system/templates/actors/partials/nav/main/secondaries/vigor.hbs" }}</div>
  <div class="secondary-header">{{> "systems/abf-system/templates/actors/partials/nav/main/secondaries/perception.hbs" }}</div>
  <div class="secondary-header">{{> "systems/abf-system/templates/actors/partials/nav/main/secondaries/social.hbs" }}</div>
</div>