<section class="final-armor-section">
  <h3>
    Armor
  </h3>

  <table class="final-armor-table">
    <tr>
      <td>
        Cut
      </td>
      <td>
        Impact
      </td>
      <td>
        Thrust
      </td>
      <td>
        Heat
      </td>
      <td>
        Electricity
      </td>
      <td>
        Cold
      </td>
      <td>
        Energy
      </td>
    </tr>

<tr>
  {{#each actor.system.armor.total as |total type|}}
    <td
      data-tooltip="{{armorTooltip ../actor.system.armor type ../ARMOR_SECTIONS}}"
    >
      {{total}}
    </td>
  {{/each}}
</tr>
  </table>
</section>