<div class="header-top">
  
  <!-- Left spacer (keeps name centered) -->
  <div class="header-top-spacer"></div>

  <!-- Actor Name -->
  <input class="header-top-name"
    type="text" 
    name="name" 
    value="{{actor.name}}" 
  />

  <!-- Dice Icons -->
  <div class="header-top-dice">
    <div class="dice-icon" data-action="roll-10">
      <img src="systems/abf-system/images/d10.svg" alt="d10">
    </div>
    <div class="dice-icon" data-action="roll-100">
      <img src="systems/abf-system/images/d100.svg" alt="d100">
    </div>
  </div>

</div>