<section class="movement-section">
  <h3>Movement</h3>

  <table class="movement-table">
    <tr>
      <td>Move Type</td>
      <td>Max (m)</td>
      <td>Running</td>
      <td>1/4</td>
    </tr>

    <tr>
      <td>
        <input type="number" name="system.movement.type" value="{{system.movement.type}}">
      </td>
      <td>
        <input type="number" name="system.movement.max" value="{{system.movement.fianl}}">
      </td>
      <td>
        <input type="number" name="system.movement.running" value="{{system.movement.running}}">
      </td>
      <td>
        <input type="number" name="system.movement.quarter" value="{{system.movement.quarter}}">
      </td>
    </tr>
  </table>
</section>