<section class="common-fields">
  <div class="section-block">
      <table class="common-table">
        <tr>
          <td>
            <label>Level</label>
            <select name="system.level" class="ki-level-select select">
                <option value="1" {{#if (eq system.level "1")}}selected{{/if}}>1</option>
                <option value="2" {{#if (eq system.level "2")}}selected{{/if}}>2</option>
                <option value="3" {{#if (eq system.level "3")}}selected{{/if}}>3</option>
            </select>
          </td>
          <td>
            <label>MK Cost</label>
            <input type="number" name="system.martialKnowledge" value="{{system.martialKnowledge}}" />
          </td>
          <td>
            <label>Ki Cost</label>
            <input type="number" name="system.ki.total" value="{{system.ki.total}}" />
          </td>
          <td>
            <label>Ki Per Turn</label>
            <input type="number" name="system.ki.perTurn" value="{{system.ki.perTurn}}" />
          </td>
        </tr>
      </table>
  </div>
</section>