<h3>Description</h3>

<div class="description-editor">
  {{#if system.background}}
    {{editor
      system.background
      target="system.background"
      button=true
      editable=true
      engine="prosemirror"
    }}
  {{else}}
    {{editor
      "<p class='placeholder'>Write your background here…</p>"
      target="system.background"
      button=true
      editable=true
      engine="prosemirror"
    }}
  {{/if}}
</div>