<h3>Destiny Points</h3>
<table class="lft-table">
  <tr>
    <td>
      <input
        type="number"
        name="system.destinyPoints.current"
        value="{{system.destinyPoints.current}}"
      />
    </td>
    <td>
      <input type="number" value="{{system.destinyPoints.max}}" disabled />
    </td>
  </tr>
</table>