<h3>Development Points</h3>
<table class="lft-table">
  <tr>
    <td>
      <input
        type="number"
        name="system.destinyPoints.current"
        value="{{system.destinyPoints.current}}"
        data-tooltip="Current Development Points."
      />
    </td>
    <td data-tooltip="Maximum Development Points. ">
      {{system.destinyPoints.max}}
    </td>
  </tr>
</table>