<h3>Presence</h3>
<table class="lft-table">
  <tr>
    <td>
      <input
        type="number"
        name="system.presence.bonus"
        value="{{system.presence.bonus}}"
        data-tooltip="Bonus Presence."
        {{#if @root.actor.system.lockUi}}disabled{{/if}}
      />
    </td>
    <td data-tooltip="Presence is the sum of all the existential aspects of a character – both physical and spiritual. A player character has an almost unlimited potential to develop his abilities; the more developed, the greater the Presence base he has. Presence depends on the character’s level and on the number of total DP he possesses. Higher-level characters will, therefore, have a higher Presence. To determine a character’s Presence score, simply divide his total DP by 20. A 1st-level character has a Presence of 30.">
      {{system.presence.final}}
    </td>
  </tr>
</table>