<h3>Presence</h3>
<table class="lft-table">
  <tr>
    <td>
      <input
        type="number"
        name="system.presence.bonus"
        value="{{system.presence.bonus}}"
      />
    </td>
    <td>
      <input type="number" value="{{system.presence.final}}" disabled />
    </td>
  </tr>
</table>