<section class="modifiers-section">
  <h3>Modifiers</h3>

  <table class="modifiers-table">
    <tr>
      <td>Physical</td>
      <td>Actions</td>
      <td>Natural Pen.</td>
      <td>Pen. Percep.</td>
    </tr>

    <tr>
      <td>
        <input type="number" name="system.modifiers.physical" value="{{system.modifiers.physical}}">
      </td>
      <td>
        <input type="number" name="system.modifiers.actions" value="{{system.modifiers.actions}}">
      </td>
      <td>
        <input type="number" name="system.modifiers.naturalPenalty" value="{{system.modifiers.naturalPenalty}}">
      </td>
      <td>
        <input type="number" name="system.modifiers.perceptionPenalty" value="{{system.modifiers.perceptionPenalty}}">
      </td>
    </tr>
  </table>
</section>