<form class="abf-character-sheet">

  {{!-- Title Bar --}}
  {{> "systems/abf-system/templates/actors/partials/header/header-top.hbs"}}

  <!-- HEADER -->
  {{> "systems/abf-system/templates/actors/partials/header/header.hbs"}}

  <!-- TABS -->
  <nav class="sheet-tabs" data-group="primary">
    <a class="item" data-tab="main">Main</a>
  </nav>

  <!-- BODY -->
  <section class="sheet-body">

    <div class="tab main" data-group="primary" data-tab="main">
      {{!-- SECONDARY NAV (nested) --}}
      <nav class="sub-tabs" data-group="main-sub">
        <a class="item" data-tab="character">Character</a>
        <a class="item" data-tab="details">Details</a>
        <a class="item" data-tab="inventory">Inventory</a>
      </nav>

      {{!-- SECONDARY TAB PANELS --}}
      <div class="tab" data-group="main-sub" data-tab="character">
          {{> "systems/abf-system/templates/actors/partials/header/character.hbs"}}
      </div>

      <div class="tab" data-group="main-sub" data-tab="details">
        {{!-- Details content goes here --}}
      </div>

      <div class="tab" data-group="main-sub" data-tab="inventory">
        {{!-- Inventory content goes here --}}
      </div>

    </div>

  </section>

</form>