<h2>Spent Development Points : {{system.abilities.Secondaries.totalDevelopmentPointsSpent}}</h2>
<div class="secondaries-grid">
  <div class="secondary-header">{{> "systems/abf-system/templates/actors/partials/nav/abilities/secondaries/athletics.hbs" }}</div>
  <div class="secondary-header">{{> "systems/abf-system/templates/actors/partials/nav/abilities/secondaries/intellectual.hbs" }}</div>
  <div class="secondary-header">{{> "systems/abf-system/templates/actors/partials/nav/abilities/secondaries/subterfuge.hbs" }}</div>
  <div class="secondary-header">{{> "systems/abf-system/templates/actors/partials/nav/abilities/secondaries/creative.hbs" }}</div>
  <div class="secondary-header">{{> "systems/abf-system/templates/actors/partials/nav/abilities/secondaries/vigor.hbs" }}</div>
  <div class="secondary-header">{{> "systems/abf-system/templates/actors/partials/nav/abilities/secondaries/perception.hbs" }}</div>
  <div class="secondary-header">{{> "systems/abf-system/templates/actors/partials/nav/abilities/secondaries/social.hbs" }}</div>
</div>