<section class="common-fields">
  <div class="weapon-grid-item">
    {{#switch system.weaponType}}
      {{#case "shield"}}
        {{> "systems/abf-system/templates/items/partials/weapon/weapon-shield.hbs"}}
      {{/case}}
      {{#case "projectile"}}
        {{> "systems/abf-system/templates/items/partials/weapon/weapon-projectile.hbs"}}
      {{/case}}
      {{#case "throwing"}}
        {{> "systems/abf-system/templates/items/partials/weapon/weapon-throwing.hbs"}}
      {{/case}}
      {{#default}}
        {{> "systems/abf-system/templates/items/partials/weapon/weapon-melee.hbs"}}
      {{/default}}
    {{/switch}}
  </div>
</section>