<section class="aspect-section">
  <h2>Aspect</h2>

  <table class="aspect-table">
    <tr><td>Hair</td><td></td></tr>
    <tr><td>Eyes</td><td></td></tr>
    <tr><td>Height</td><td></td></tr>
    <tr><td>Weight</td><td></td></tr>
    <tr><td>Gender</td><td></td></tr>
    <tr><td>Race</td><td></td></tr>
    <tr><td>Ethnicity</td><td></td></tr>
    <tr><td>Appearance</td><td></td></tr>
    <tr><td>Age</td><td></td></tr>
    <tr><td>Size</td><td></td></tr>
  </table>
</section>