<h2>
  Spent Development Points : {{system.abilities.Primaries.totalDevelopmentPointsSpent}}
</h2>
<div class="secondaries-grid">
  <div class="secondary-header">{{> "systems/abf-system/templates/actors/partials/nav/abilities/primaries/combat.hbs" }}</div>
  <div class="secondary-header">{{> "systems/abf-system/templates/actors/partials/nav/abilities/primaries/supernatural.hbs" }}</div>
  <div class="secondary-header">{{> "systems/abf-system/templates/actors/partials/nav/abilities/primaries/psychic.hbs" }}</div>
</div>