<h2>
  <h2>DP Spent: {{actor.system.abilities.Primaries.totalDPSpent}} Remaining: {{actor.system.developmentPoints.remaining}}</h2>
</h2>
<div class="secondaries-grid">
  <div class="secondary-header">{{> "systems/abf-system/templates/actors/partials/nav/abilities/primaries/combat.hbs" }}</div>
  <div class="secondary-header">{{> "systems/abf-system/templates/actors/partials/nav/abilities/primaries/supernatural.hbs" }}</div>
  <div class="secondary-header">{{> "systems/abf-system/templates/actors/partials/nav/abilities/primaries/psychic.hbs" }}</div>
</div>