<form class="add-class-form">
    <label>
    <i class="fas fa-question-circle disadvantage-info-icon"
        title="Click to see disadvantage details"></i>
    Disadvantage:
    </label>

    <select class="disadvantage-selector">
    {{#each disadvantageOptions as |dis|}}
        <option value="{{dis}}">{{disadvName dis}}</option>
    {{/each}}
    </select>

  <button type="button" class="confirm-add">OK</button>
</form>