<div class="combat-grid">
  <!-- LEFT COLUMN -->
  <div class="combat-left">
    <div class="secondary-header">{{> "systems/abf-system/templates/actors/partials/nav/combat/weapons.hbs" }}</div>
  </div>

  <!-- RIGHT COLUMN -->
  <div class="combat-right">
    <div class="secondary-header">{{> "systems/abf-system/templates/actors/partials/nav/combat/armor.hbs" }}</div>
  </div>
</div>