<div class="inventory-grid">
  <!-- LEFT COLUMN -->
  <div class="inventory-left">
    {{> "systems/abf-system/templates/actors/partials/nav/main/inventory/currency.hbs"}}
  </div>

  <!-- RIGHT COLUMN -->
  <div class="inventory-right">
    {{> "systems/abf-system/templates/actors/partials/nav/main/inventory/items.hbs"}}
  </div>

</div>